
body {
	background-color: seagreen;
	color: lightgreen;
	font-family: Monospace;
	padding: 4rem;
	padding-top: 1rem;
}

#header {
	color: LightGreen;
	width: fit-content;
	padding-bottom: 2rem;
	font-size: 150%;
}

#welcome {
	font-size: 150%;
	padding-bottom: 2rem;
}

.category {
	width: 40%;
	display: inline-block;
	font-size: 120%;
	vertical-align: top;
}

@media (max-width: 600px) {
	.category {
		width: 100%;
		display: block;
	}
	body{
		padding: 1rem;
	}
}

#albums {
	color: palegreen;
	padding-right: 2rem;
}

#hifi {
	color: springgreen;
}

#laptop {
	color: MediumSpringGreen;
	padding-right: 2rem;
}

#pc {
	color: limegreen;
}